<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="testdb" connectionString="Data Source=.;Initial Catalog=Shuhari_Framework_TestDb; Integrated Security=SSPI;" />
    <add name="tempdb" connectionString="Data Source=.;Initial Catalog=tempdb; Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>